@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Raleway:wght@300;400;600&display=swap");
.box-1 {
  height: 50px;
  width: 50px;
  background-color: #090605;
  margin: 0rem 0.75rem;
}

.box-2 {
  height: 50px;
  width: 50px;
  background-color: #3c291e;
  margin: 0rem 0.75rem;
}

.box-3 {
  height: 50px;
  width: 50px;
  background-color: #806141;
  margin: 0rem 0.75rem;
}

.box-4 {
  height: 50px;
  width: 50px;
  background-color: #2b3c1e;
  margin: 0rem 0.75rem;
}

.box-5 {
  height: 50px;
  width: 50px;
  background-color: #ace475;
  margin: 0rem 0.75rem;
}

.box-6 {
  height: 50px;
  width: 50px;
  background-color: #f7fafb;
  margin: 0rem 0.75rem;
}

#navbar {
  height: #3c291e;
  width: auto;
  background-color: #3c291e;
  display: flex;
  align-items: center;
}
#navbar #nav-links {
  display: flex;
  list-style: none;
}
#navbar #nav-links .nav-link {
  border-bottom: 2px solid #3c291e;
  margin: 1rem;
  padding: 0.5rem;
  color: #f7fafb;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  text-indent: 2.5px;
  font-weight: 300;
  transition: all 0.2s ease-in-out;
}
#navbar #nav-links .nav-link:hover {
  border-bottom: 2px solid #ace475;
  cursor: pointer;
  color: #ace475;
}

.profile-card {
  height: auto;
  width: 35%;
  border-radius: 10px;
  background-image: url("./images/forest.jpg");
  background-repeat: no-repeat;
  background-position: 65% 55%;
  background-size: cover;
  padding: 1rem 0.5rem;
  box-shadow: 0 0 15px #131a0d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-card .panel {
  height: 100%;
  width: 96%;
  border-radius: 5px;
  background-color: rgba(9, 6, 5, 0.4);
  box-shadow: 0px -200px 700px inset #090605;
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;
}
.profile-card .circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background-color: rgba(9, 6, 5, 0.5);
  border: 3px solid #ace475;
  margin: 1rem;
  padding: 1rem;
}
.profile-card .bio {
  border-radius: 5px;
  background-color: rgba(43, 60, 30, 0.8);
  margin: 0.5rem 0rem;
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  width: 85%;
}
.profile-card .bio .name {
  margin-bottom: 1rem;
  color: #ace475;
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
}
.profile-card .bio .name .first-letter {
  font-size: 2.2rem;
}
.profile-card .bio .main-title {
  margin-bottom: 0.5rem;
  color: #f7fafb;
  font-family: "Raleway", sans-serif;
  font-size: 1.7rem;
  font-weight: 400;
}
.profile-card .bio .sub-title {
  margin-bottom: 0.5rem;
  color: #f7fafb;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}
.profile-card .bio .social-icons {
  padding: 2rem;
  display: flex;
  color: #806141;
}
.profile-card .bio .social-icons .social-icon {
  height: 40px;
  width: 40px;
  border-radius: 5px;
  border: 2px solid #806141;
  margin: 0rem 1.5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2rem;
  transition: all 0.2s ease-in-out;
}
.profile-card .bio .social-icons .social-icon:hover {
  cursor: pointer;
  border: 2px solid #ace475;
  color: #ace475;
}
.profile-card .skills {
  margin: 1rem 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #ace475;
  font-family: "Open Sans", sans-serif;
  font-size: get-font-size("sm");
  width: 85%;
}
.profile-card .skills .skill-badge {
  border: 2px solid #2b3c1e;
  margin: 0.3rem;
  padding: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: #404d27;
}

.swatches {
  padding: 1rem;
  margin: 2rem;
  display: flex;
}

.container {
  height: calc(100vh - $navbar-height);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=index.css.map */
