@use 'functions' as *;

#cards-display {

  background-color: $stratus-grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    @include rectangle(auto, 400px);
    @include border-radius(5px, 5px);

    background-color: $moss-green;
    box-shadow: 2px 2px 5px $cumulous-grey;
    font-family: $secondary-font;
    margin: 1em 1em;

    &--header {
      @include border-radius(5px, 0);

      background-color: $leaf-green;
      color: $stratus-grey;
      font-family: $primary-font;
      font-size: set-font-size('lg');
      font-weight: 600;
      letter-spacing: 2px;
      padding: .5rem 1rem;
    }

    &--body {
      @include border-radius(5px, 5px);
      background-color: lighten($moss-green, 30%);
      padding: 1rem;
      margin: 1rem;
      line-height: 1.5rem;
      font-size: set-font-size('sm');
      text-align: center;

      &-title{
        font-size: set-font-size('md');
        padding: .5rem;
      }
    }
  }
}
