@use 'variables' as *;
@use 'functions' as *;
@use 'mixins' as *;

#navbar {
  @include rectangle($navbar-bg, $navbar-width);

  background-color: $navbar-bg;
  display: flex;
  align-items: center;

  #nav-links {
    display: flex;
    list-style: none;

    .nav-link {
      border-bottom: 2px solid $navbar-bg;
      margin: 1rem;
      padding: .5rem;

      color: $navbar-link-color;
      font-family: $primary-font;
      font-size: set-font-size("md");
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2.5px; // will cause text to be off-center.
      text-indent: 2.5px; // correct misalignment caused by letter-spacing
      font-weight: set-font-weight("thin");

      transition: all 0.2s ease-in-out;

      &:hover {
        border-bottom: 2px solid $navbar-link-hover;
        cursor: pointer;
        color: $navbar-link-hover;
      }
    }
  }
}
