@use 'variables' as *;
@use 'mixins' as *;
@use 'profile-card' as *;

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
    font-size: $base-size;
}

body {
    background-color: $base-color;
}

.swatches {
    padding: 1rem;
    margin: 2rem;
    
    display: flex;
    
}

// .container {
//     @include rectangle(calc(100vh - $navbar-height), 100%);
    

//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }