@use './custom-variables' as *;
@use './custom-mixins' as *;
@use './navbar';
@use './profile-card';

// import bootstrap with custom variables
@use '../node_modules/bootstrap/scss/bootstrap' as bootstrap with (
    $theme-colors: (
        "primary": $custom-primary,
        "secondary": $custom-secondary,
        "success": $custom-success,
        "info": $custom-info,
        "warning": $custom-warning,
        "danger": $custom-danger,
        "light": $custom-light,
        "dark": $custom-dark,

        "custom": $custom-color,
    ),

    $font-family-sans-serif: $primary-font, // set the base font

    // customize navbar
    $navbar-padding-y: 1.5rem,
    $navbar-nav-link-padding-x: 2rem,
);



body {
    background-color: adjust-color($custom-light, $lightness: -15%);
}

.swatches {
    @include flex($justify-content: center);
    
    margin: 1rem;
}

#main-content {
    @include flex(column, center);

    .swatch {
        @include rectangle(4rem);
        @include border-radius(50%, 25%);

        margin: 1rem;
    }
    
    // color the swatches using the list of color variables
    @for $i from 1 through length($custom-colors){
        .swatch-#{$i}{
            background-color: nth($custom-colors, $i);
        }
    }
}

// .swatch {
//     @include rectangle(200px);
//     @include border-radius(50%);
//     // @include flex($justify-content: center);
//     @include flex(column, center, center);

//     background-color: bootstrap.$primary;
//     margin: 2rem auto;

//     &:hover {
//         background-color: bootstrap.$info;
//     }
// }