@use 'variables' as *; // @use creates a namespace | as * imports everything
@use 'mixins' as *;
@use 'navbar';
@use 'profile-card';

// with () will allow custom variables to be passed to override defaults
@use '../node_modules/bootstrap/scss/bootstrap' with (
    // change default font
    $font-family-sans-serif: $primary-font,

    // increase navbar padding
    $navbar-padding-y: 2rem,

    // override default theme colors
    $theme-colors: (
        "primary":    $custom-primary,
        "secondary":  $custom-secondary, 
        "success":    $custom-success,
        "info":       $custom-info,
        "warning":    $custom-warning,
        "danger":     $custom-danger,
        "light":      $custom-light,
        "dark":       $custom-dark,

        // add custom color class to Bootstrap
        "custom":     $custom-color,
    ),

);



body {
    background-color: slategray;
    // background-color: adjust-color($custom-light, $lightness: -20%);
}

.swatches {
    @include flex($justify-content: center);
    
    padding: 1.5rem;

    .swatch {
        @include rectangle(5rem);
        @include border-radius(50%, 5%, 5%, 50%);

        margin: .5rem;
    }
    
    // color the swatches using the list of theme-colors
    @for $i from 1 through length($custom-colors){
        // target each subsequent swatch number
        .swatch-#{$i} {
            // nth($list, $index) - retrieves the item at the index
            background-color: nth($custom-colors, $i);
        }
    };
}


.outer {
    @include rectangle(200px);
    @include border-radius(10px);
    @include flex(column, center, center);
    background-color: $outer-box-bg;

    margin: 2rem auto;

    .inner {
        @include rectangle(100px);
        @include border-radius(50%, 10%, 10%, 50%);

        background-color: $inner-box-bg;

        &:hover {
            @extend %pointer;
            background-color: $inner-box-hover;
        }
    }
}